.color{
    border: 1.5px solid black;
}
.contacto{
    max-width: 16px;
}
.zelda{
    text-decoration: none;
}
.estudios{
    font-weight: normal;
}
.main{
    background-color: rgb(225, 245, 254);
}